<title>Senate Data</title>
<link href="style.css" rel="stylesheet" type="text/css">
<nav id="menu">
  <a href="#" id="close-menu" class="menu-button">🗙</a>
  <span class="menu-item">Menu of things to do</span>
  <a class="menu-item" href="/thing1">Thing 1</a>
  <a class="menu-item" href="/thing2">Thing 2</a>
  <a class="menu-item" href="/thing3">Thing 3</a>
</nav>
<div id="page">
  <header class="header">
    <a href="#menu" id="open-menu" class="menu-button">☰</a>
    <span>Header Title</span>
  </header>
  <div class="content">
    <span>
      dafjafsfuasd8fads8fadfuas8dfua8suf8asufu8fua8suf8audsfa8dsfua8dfxxxxxxxdf
      dafjafsfuasd8fads8fadfuas8dfua8suf8asufu8fua8suf8audsfa8dsfua8dfxxxxxxxdf
      dafjafsfuasd8fads8fadfuas8dfua8suf8asufu8fua8suf8audsfa8dsfua8dfxxxxxxxdf
      dafjafsfuasd8fads8fadfuas8dfua8suf8asufu8fua8suf8audsfa8dsfua8dfxxxxxxxdf
      dafjafsfuasd8fads8fadfuas8dfua8suf8asufu8fua8suf8audsfa8dsfua8dfxxxxxxxdf
      dafjafsfuasd8fads8fadfuas8dfua8suf8asufu8fua8suf8audsfa8dsfua8dfxxxxxxxdf
      dafjafsfuasd8fads8fadfuas8dfua8suf8asufu8fua8suf8audsfa8dsfua8dfxxxxxxxdf
    </span>
  </div>
</div>
