  * { box-sizing: border-box; }
  html, body { min-height: 100%; }
  body { margin: 0px; }
  #page { float: right; width: 100%; }

  /* Header Styling */
  .header {
    position: fixed;
    width: 100%;
    left: 0;
    text-align: center;
    height: 60px;
    padding: 20px;
    border-bottom: 1px solid black;
  }

  /* Menu Styling */
  #menu {
    position: fixed;
    top: 0;
    width: 0;
    height: 100%;
    overflow-y: auto;
    background-color: white;
    z-index: 1;
  }
  #menu:target {
    width: 20%;
    border-right: 1px solid black;
  }
  .menu-item {
    display: block;
    text-align: center;
    margin: 20px;
    color: black;
    text-decoration: none;
    line-height: 20px;
  }

  /* Menu Button Styling */
  #menu:target > #open-menu { display: none; }
  #close-menu { display: none; }
  #menu:target > #close-menu { display: block; }
  .menu-button {
    text-decoration: none;
    color: black;
    position: absolute;
    left: 20px;
    top: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
  }
  .menu-button:hover, #menu a:hover {
    outline: 1px solid black;
    outline-offset: 10px;
  }

  /* Content Styling */
  .content {
    padding: 80px 20px 20px 20px;
  }
